/* =========================
   VERSIONE SMARTPHONE
   ========================= */

@media (max-width: 600px) {

    body {
        width: 100%;
        min-height: 100vh;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;

        padding-bottom: 120px;
    }

    h1 {
        font-size: 32px;
        margin: 20px 0 15px 0;
        text-align: center;
    }

    #domanda {
        font-size: 19px;
        text-align: center;
        margin: 0 20px 20px 20px;
    }

    /* =========================
       PUZZLE
       ========================= */

    #puzzle {
        width: 95%;
        max-width: 100%;
        gap: 5px;
        margin-bottom: 25px;
    }

    .casella {
        width: 30px;
        height: 38px;

        font-size: 22px;

        border-width: 2px;
    }

    .spazio {
        width: 10px;
    }


    /* =========================
       TASTIERA
       ========================= */

    #keyboard {
        width: 95%;
        max-width: 400px;

        gap: 6px;

        margin-bottom: 25px;
    }

    #keyboard button {
        width: 40px;
        height: 40px;

        font-size: 17px;

        border-radius: 6px;
    }


    /* =========================
       BOTTONI RISOLVI / SBAGLIATO
       ========================= */

    #azioni {
        position: static;

        transform: none;

        display: flex;
        justify-content: center;

        gap: 10px;

        margin-top: 10px;
        margin-bottom: 20px;
    }

    #azioni button {
        padding: 10px 14px;

        font-size: 14px;
        border-width: 2px;
    }


    /* =========================
       DOMANDA SUCCESSIVA
       ========================= */

    #next {
        position: fixed;

        right: 10px;
        bottom: 10px;

        width: 150px;
        height: 50px;

        font-size: 13px;

        padding: 0 35px 0 8px;

        border-width: 2px;
    }


    /* =========================
       DOMANDA PRECEDENTE
       ========================= */

    #prev {
        position: fixed;

        left: 10px;
        bottom: 10px;

        width: 150px;
        height: 50px;

        font-size: 13px;

        padding: 0 8px 0 35px;

        border-width: 2px;
    }


    /* =========================
       ERRORI
       ========================= */

    #errore {
        font-size: 100px;
    }

    #peccato {
        font-size: 70px;
    }

    #peccato div {
        font-size: 35px;
    }
}